{% extends 'base.html'%}
{%block title%} Forma {%endblock%}
{%block content%}
<link rel="stylesheet" href="../static/style.css" />
<title>Forma</title>
</head>
<body>
    <form class="modal-content animate" enctype=multipart/form-data action="/users" method="POST">
        <div class="container">
            <label><b>date</b></label>
            <input type="date" placeholder="Enter date" name="date" required>

            <label><b>visit date</b></label>
            <input type="date" placeholder="Enter visit date" name="visit_date"  required>

            <br>
            <input type="text" placeholder="Enter full name" name="first_last_name"  required>

            <input type="text" placeholder="Enter phone number" name="phone_number"  required>

            <input type="text" placeholder="Enter address" name="address"  required>

            <input type="text" placeholder="Enter device" name="device" >

            <input type="text" placeholder="Enter model" name="model" >

            <input type="text" placeholder="Enter serial_number" name="serial_number" >

            <label><b>guarantee</b></label>
            <input type="checkbox" name="guarantee"  >

            <label><b>receipt</b></label>
            <input type="checkbox"  name="receipt"  >

            <label><b>spare</b></label>
            <input type="checkbox"  name="spare" >

            <br>
            <input type="text" placeholder="Enter order number" name="order_number" >

            <label><b>order date</b></label>
            <input type="date" placeholder="Enter order date" name="order_date" >

            <br>
            <input type="text" placeholder="Enter model code" name="model_code" >

            <input type="text" placeholder="Enter model_description" name="model_description">

            <label><b>quantity</b></label>
            <input type="number" name="quantity">

            <hr>
            <label><b>image</b></label>
            <input type="file" placeholder="Upload photo" name="problem_image">

            <br>
            <input type="text" placeholder="Enter problem description" name="problem_description" >

            <button type="submit" style="border-radius: 15px;">Submit</button>
        </div>
    </form>
    {% if message %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
        </svg>
        <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
          {{message}}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="margin-left: auto;"></button>
    {% endif %}
</body>
{%endblock%}